.button
  padding: 13px 20px
  border: none
  border-radius: 2px
  text-transform: uppercase
  &--primary
    background-color: $primary
  &--outline
    border: 1px solid $light
    background-color: transparent  
    color: $light
