.hero
  position: relative
  padding-top: 100px
  background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 80px
    height: 100%
.instagram
  background-color: $dark 
  display: flex 
  align-items: center
  justify-content: center
  &-link
    text-transform: uppercase
    text-decoration: none
    color: $primary   
    transform: rotate(90deg);  
.title
  margin: 0  

