.hero
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding-top: 100px
  height: 100vh
  background: #131313 url("../img/hero-bg.jpg") no-repeat center/cover;
  color: $light
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7) 
  &::after
    content: ''
    position: absolute
    left: 0
    bottom: 0
    right: 0
    background-color: $dark
    width: 100%
    height: 3.46rem  
  &__content
    position: relative
    max-width: 47.85rem
    margin-left: 4.28rem
  &__title
    margin-bottom: 1rem  
  &__text
    font-size: 1.571rem
    line-height: 131%
    max-width: 500px
    margin: 0
    margin-bottom: 3rem 
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 80px
    height: 100%
  &__scroll-down
    z-index: 3
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    left: 0
    bottom: 0
    min-width: 17.6rem
    min-height: 6.92rem
    background-color: $dark 
    text-transform: uppercase
    text-decoration: none
    color: $light
    &::after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center
      width: 30px
      height: 30px
      border: 2px solid $primary
      border-radius: 50%
      margin-left: 12px

  &__button
    margin-right: 2.85rem 
    padding: 20px 35px 


.instagram
  background-color: $dark 
  display: flex 
  align-items: center
  justify-content: center
  &-link
    display: flex
    align-items: center
    text-transform: uppercase
    text-decoration: none
    color: $primary   
    transform: rotate(90deg)
    font-size: 1.1rem
 
    line-height: 0.8
    &::after
      content: ''
      width: 50px
      height: 1px
      background-color: $primary
      margin-left: 8px

.title
  margin: 0 
  font-family: 'Yeseva One', cursive
  text-transform: uppercase
  font-size: 2.857rem 
  line-height: 1.4
  &--primary
    color: $primary

